.header {
  position: relative;
  z-index: 100;
  &__logo {
    transition: 200ms ease;
    &:hover {
      transform: scale(1.01);
      filter: brightness(150%);
    }
  }
  &__row {
    padding: rem(40) 0 0;
    justify-content: space-between;
  }
  &__options {
    grid-gap: rem(30);
  }
  &__call {
    &:hover {
      .header__call-tel {
        text-decoration: underline;
      }
    }
    grid-gap: rem(15);
  }
  &__call-tel {
    font-weight: 600;
    font-size: rem(20);
  }
  &__hidden-list {
    left: 0;
    top: 100%;
    padding-top: rem(20);
    position: absolute;
    transition: 300ms ease;
    transform: translateX(10px);
    pointer-events: none;
    opacity: 0;
  }
  &__hidden {
    background-color: var(--clr-light-400);
    padding: rem(15) rem(20);
    display: flex;
    flex-direction: column;
    grid-gap: rem(20);
    box-shadow: 0px 4px 15px 0px hsla(0, 0%, 17%, 0.1);
    border-radius: 5px;
  }
  &__hidden-link {
    color: var(--clr-dark-400);
    white-space: nowrap;
    font-size: rem(20);
    display: block;
    &:hover {
      font-weight: 600;
    }
  }
  &__lang {
    position: relative;
    &:hover {
      .header__dropdown {
        transform: translate(-50%, 0);
        opacity: 1;
      }
    }
  }
  &__dropdown {
    border-radius: 3px;
    position: absolute;
    box-shadow: 0px 4px 15px 0px hsla(0, 0%, 17%, 0.1);
    background-color: var(--clr-light-400);
    z-index: 100;
    color: var(--clr-dark-400);
    display: flex;
    flex-direction: column;
    grid-gap: rem(5);
    transition: 300ms ease;
    left: 50%;
    transform: translate(-50%, 5px);
    opacity: 0;
  }
  &__dropdown-item {
    display: block;
    text-align: center;
    padding: rem(10);
    font-size: rem(20);
    font-weight: 600;
    transition: all 300ms ease;
    cursor: pointer;
    &:hover{
      background-color: hsla(214, 100%, 95%, 1);
    }
  }
  &__lang-selected {
    font-size: rem(20);
    font-weight: 600;
    cursor: pointer;
    padding: rem(5);
  }
  &__burger {
    display: none;
    grid-gap: rem(7);
    span {
      display: block;
      background-color: var(--clr-blue-400);
      width: rem(32);
      height: 3px;
      border-radius: 5px;
    }
  }
}

@include max-width($mainMq) {
  .header {
    &__logo {
      max-width: rem(120);
    }
    &__call {
      grid-gap: rem(10);
    }
    &__call-tel {
      font-size: rem(16);
    }
    &__lang-selected {
      font-size: rem(18);
    }
    &__dropdown {
      padding-top: rem(0);
    }
    &__dropdown-item {
      padding: rem(2.5) rem(7);
      font-size: rem(18);
    }
    &__row {
      padding: rem(20) 0 0;
    }
    &__options {
      grid-gap: rem(15);
    }

  }
}

@include max-width($mobMq) {
  .header {
    &__call {
      display: none;
    }
    &__btn {
      display: none !important;
    }
  }
}
