.help {
  color: var(--clr-light-400);
  &__body {
    background-color: var(--clr-main-400);
    padding: rem(50) 0;
    border-radius: 10px;
    @include dfc;
    flex-direction: column;
    text-align: center;
  }
  &__title {
    margin-bottom: rem(10);
  }
  &__subheading {
    font-size: rem(17);
    line-height: 120%;
    margin-bottom: rem(30);
    font-family: var(--ff-sec);
  }
}

@include max-width($mobMq) {
  .help {
    background-color: var(--clr-main-400);
    &__title {
      font-size: rem(24);
    }
    &__body {
      background-color: transparent;
    }
  }
}
