.skills {
  color: var(--clr-light-400);
  &_single-page {
    .skills__row {
      grid-gap: rem(90);
      max-width: rem(1130);
    }
    .skills__row-item {
      width: calc((100% / 2) - 45px);
    }
  }
  &__body {
    background-color: var(--clr-main-400);
    padding: rem(70) 0;
    border-radius: 20px;
  }
  &__row {
    display: flex;
    grid-gap: 85px rem(30) ;
    flex-wrap: wrap;
    max-width: rem(1070);
    margin: 0 auto;
  }
  &__row-item {
    grid-gap: rem(25);
    align-items: flex-start;
    width: calc((100% / 2) - 15px);
  }
  &__row-info {
    padding-top: rem(10);
  }
  &__row-heading {
    font-size: rem(22);
    font-weight: 600;
    margin-bottom: rem(15);
  }
  &__row-descr {
    p {
      font-family: var(--ff-sec);
      line-height: 140%;
      font-size: rem(17);
    }
  }
  &__row-icon {
    flex: 0 0 auto;
    width: rem(46);
    height: rem(46);
    background-color: hsla(211, 57%, 91%, 0.22);
    border-radius: 50%;
    display: grid;
    place-items: center;
  }
}

@include max-width($tabletMq) {
  .skills {
    &_single-page {
      .skills__row {
        grid-gap: rem(40) 15px;
      }
      .skills__row-item {
        width: calc((100% / 2) - 7.5px);
      }
    }
    &__row {
      grid-gap: 40px rem(15);
    }
    &__row-heading {
      font-size: rem(18);
    }
    &__row-item {
      width: calc((100% / 2) - 7.5px);
      grid-gap: 1rem;
    }
    &__row-descr {
      p {
        font-size: rem(15);
      }
    }
  }
}

@include max-width($mainMq) {
  .skills {
    background-color: var(--clr-main-400);
    &__body {
      background-color: transparent;
    }
  }
}

@include max-width($mobMq) {
  .skills {
    &_single-page {
      .skills__row {
        grid-gap: 1.25rem;
      }
      .skills__row-item {
        width: 100%;
      }
    }
    &__row {
      grid-gap: rem(20);
    }
    &__row-item {
      width: 100%;
      max-width: rem(400);
      margin: 0 auto;
    }
    &__row-info {
      padding-top: 0;
    }
    &__row-icon {
      width: rem(35);
      height: rem(35);
      img {
        width: rem(17.5);
        height: rem(17.5);
      }
    }
  }
}
