@import '../blocks/container';
@import '../blocks/header';
@import '../blocks/nav';
@import '../blocks/menu';
@import '../blocks/home';
@import '../blocks/order';
@import '../blocks/price';
@import '../blocks/reviews';
@import '../blocks/help';
@import '../blocks/cases';
@import '../blocks/footer';
@import '../blocks/btn';
@import '../blocks/modal';

//
@import '../blocks/case-mains';
@import '../blocks/skills';
@import '../blocks/about-project';
