body {
  margin: 0;
  padding: 0;
  color: var(--clr-main-400);
  background-color: var(--bg-body);
  width: 100%;
  position: relative;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  min-height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  position: relative;
  &::before {
    @include psevdo();
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    transition: all 350ms ease;
    z-index: 500;
    opacity: 0;
    visibility: hidden;
  }
}

.body-locked {
  overflow: hidden;
  &::before {
    opacity: 1;
    visibility: visible;
  }
}

html {
  box-sizing: border-box;
  width: 100%;
  font-family: var(--ff-main);
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

.flexbox {
  @include df;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  grid-gap: rem(90);
  & > * {
    flex: 1;
    &:last-child {
      margin-bottom: rem(90);
    }
  }
  @include max-width($mobMq) {
    grid-gap: rem(60);
    & > * {
      &:last-child {
        margin-bottom: rem(60);
      }
    }
  }
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  display: inline-flex;
  color: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  text-decoration: none;
  cursor: pointer;
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
  display: inline-flex;
  outline: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  line-height: initial;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  vertical-align: bottom;
}

picture {
  display: inline-flex;
}

input {
  width: 100%;
  outline: none;
  border: none;
}

label {
  display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

input[type="number"] {
  appearance: textfield;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}
